<a href="https://colab.research.google.com/github/mehrazinmarzough/Credit-Score-Regressor/blob/main/credit_score_regressor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import pandas as pd

df = pd.read_csv("CreditPrediction.csv")
df.drop_duplicates(inplace = True)
df.drop(columns=['Unnamed: 19'], inplace = True)
df['Marital_Status'] = df['Marital_Status'].fillna("Unknown")
df['Gender'] = df['Gender'].fillna("O")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10132 entries, 0 to 10145
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10132 non-null  int64
 1   Customer_Age              10132 non-null  float64
 2   Gender                    10132 non-null  object
 3   Dependent_count           10132 non-null  int64
 4   Education_Level           10132 non-null  object
 5   Marital_Status            10132 non-null  object
 6   Income_Category           10132 non-null  object
 7   Card_Category             8217 non-null   object
 8   Months_on_book            9911 non-null   float64
 9   Total_Relationship_Count  10112 non-null  float64
 10  Months_Inactive_12_mon    10132 non-null  int64
 11  Contacts_Count_12_mon     10132 non-null  int64
 12  Credit_Limit              10132 non-null  float64
 13  Total_Revolving_Bal       10132 non-null  int64
 14  Total_Amt_Chng_Q4_Q1      10132 non-null  float64
 15  Total_Trans_Amt           10132 non-null  int64
 16  Total_Trans_Ct            10132 non-null  int64
 17  Total_Ct_Chng_Q4_Q1       10132 non-null  float64
 18  Avg_Utilization_Ratio     10132 non-null  float64
dtypes: float64(7), int64(7), object(5)
memory usage: 1.5+ MB
None





*   gender -> one hot
*   educational level -> numerical
*   marital status -> one hot
*   income category -> numerical
*   card category -> numerical

In [56]:
df['Card_Category'] = df['Card_Category'].replace({'Blue': 1, 'Silver': 2, 'Gold': 3, 'Platinum': 4})
print(df['Card_Category'].unique())

['1' nan '3' '2' '4']